<div class="ui modal" id="delivery_form_modal">
    <div class="ui segment">
        <form name="deliveryForm" class="ui form vertical segment"
              ng-submit="deliveryForm.$valid && editMode?editDelivery():addDelivery()"
              novalidate>
            <fix-modal-component></fix-modal-component>
            <div class="ui message" ng-show="deliveryForm.$dirty"
                 ng-class="{'positive' : deliveryForm.$valid, 'negative' : deliveryForm.$invalid}">
                Le formulaire est {{ deliveryForm.$valid ? "valide" : "invalide" }}
            </div>
            <h2 ng-if="!editMode" class="ui dividing header">Ajout d'un livrable</h2>
            <h2 ng-if="editMode" class="ui dividing header">Modification d'un livrable</h2>
            <div class="fields">
                <div class="eight wide required field">
                    <label>Numéro de livrable</label>
                    <input placeholder="0" type="number" ng-model="delivery.number" required/>
                </div>
                <div class="eight wide required field">
                    <label>Phase associée</label>
                    <ng-dropdown data-label="name" ng-option="taskService.currentProjectTasks" data-value="id"
                                 ng-model="delivery.task" required="true"></ng-dropdown>
                </div>
            </div>
            <div class="sixteen wide field">
                <label>Livrable facturé ?</label>
                <checkbox type="toggle" ng-model="delivery.billed"></checkbox>
            </div>
            <div class="sixteen wide required field">
                <label>Contenu</label>
                <textarea ng-model="delivery.content" placeholder="Contenu..." required></textarea>
            </div>
            <div class="ui small buttons">
                <input type="reset" value="Annuler" class="ui button"/>
                <div class="or" data-text="ou"></div>
                <input ng-if="!editMode" type="submit" value="Ajouter" class="ui green button"
                       ng-class="{ 'disabled': deliveryForm.$invalid }"/>
                <input ng-if="editMode" type="submit" value="Modifier" class="ui green button"
                       ng-class="{ 'disabled': deliveryForm.$invalid }"/>
            </div>
        </form>
    </div>
</div>