<div id="confirm_modal" class="ui basic modal">
    <div class="header">
        {{ confirmModalService.title }}
    </div>
    <div class="image content">
        <div class="image">
            <i class="icon" ng-class="confirmModalService.icon"></i>
        </div>
        <div id="confirm_modal_description" class="description">
            {{ confirmModalService.content }}
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui red basic inverted button" ng-click="hideConfirmModal()">
                <i class="remove icon"></i>
                Non
            </div>
            <div class="ui green basic inverted button"
                 ng-click="confirm();">
                <i class="checkmark icon"></i>
                Oui
            </div>
        </div>
    </div>
</div>