<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="ui very basic celled table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Présents</th>
        <th ng-if="rhService.rightLevel >= 4">Actions</th>
    </tr>
    </thead>
    <tfoot ng-if="rhService.rightLevel >= 4">
    <tr ng-if="event">
        <th colspan="3">
            <form name="recruitmentEventForm"
                  ng-submit="recruitmentEventForm.$valid && (editMode?updateRecruitmentEvent():addRecruitmentEvent())"
                  novalidate>
                <div class="ui center aligned grid">
                    <div class="six wide column">
                        <div class="ui fluid input">
                            <input placeholder="JJ/MM/AAAA" type="text" required
                                   ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/"
                                   name="date" ng-model="event.date"/>
                        </div>
                    </div>
                    <div class="five wide column">
                        <div class="ui fluid input">
                            <input type="number" placeholder="" required
                                   name="presence" ng-model="event.presence"/>
                        </div>
                    </div>
                    <div class="five wide column">
                        <div class="ui small buttons">
                            <button type="submit" class="ui green icon button" data-tooltip="Valider"
                                    ng-class="{ 'disabled': recruitmentEventForm.$invalid }">
                                <i class="checkmark icon"></i>
                            </button>
                            <div class="ui icon button" ng-click="cancelRecruitmentEventForm()" data-tooltip="Annuler">
                                <i class="remove icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </th>
    </tr>
    <tr ng-if="!event">
        <th colspan="3">
            <div class="sixteen wide center aligned column">
                <button class="ui green button" ng-click="showRecruitmentEventForm(false, {})">Ajouter une AG de
                    recrutement
                </button>
            </div>
        </th>
    </tr>
    </tfoot>
    <tbody>
    <tr ng-repeat="recruitmentEvent in recruitmentEventService.recruitmentEvents">
        <td>{{recruitmentEvent.date|date:"dd/MM/y"}}</td>
        <td>{{recruitmentEvent.presence}}</td>
        <td ng-if="rhService.rightLevel >= 4">
            <div class="ui icon buttons">
                <button class="ui blue icon button" data-tooltip="Modifier"
                        ng-click="showRecruitmentEventForm(true, recruitmentEvent)">
                    <i class="write icon"></i>
                </button>
                <button class="ui red icon button"
                        data-tooltip="Supprimer" ng-click="deleteRecruitmentEvent(recruitmentEvent)">
                    <i class="remove icon"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>