/*
	Holder class to center element in the middle of the page
	This is a bad way to do it... I'll find something else later
 */
.holder {
    height: 800px
}

.holder .middle {
    height: 100%
}

/*
	JSON Highlight classes colors
*/
.json_number {
    color: RGBA(0, 200, 0, 0.8)
}

.json_key {
    color: RGBA(0, 0, 200, 0.8)
}

.json_value {
    color: RGBA(120, 140, 0, 0.8)
}

.json_bool {
    color: RGBA(200, 0, 0, 0.8)
}

.json_null {
    color: RGBA(200, 0, 200, 0.8)
}

.plotly-graph {
    width: 100%;
    height: 500px;
}

.ui.modal .grid {
    margin: 5px;
}

#left_menu {
    max-height: 30px;

}

#module_container {
    margin-top: 50px;
}

#message_container {
    position: fixed;
    top: 60px;
    opacity: 1;
    z-index: 1000;
    width: 100% !important;
}

.sorting:hover, .sorting_desc:hover, .sorting_asc:hover {
    cursor: pointer !important;
}

.ng-invalid.ng-dirty:not(form) {
    background-color: #FFF6F6 !important;
    color: #9F3A38 !important;
}

.ng-valid.ng-dirty:not(form) {
    background-color: #FCFFF5 !important;
    color: #2C662D !important;
}

.modal .form.segment {
    padding-top: 0 !important;
}

.field {
    margin-bottom: 0.4em !important;
}

.fields {
    margin-bottom: 0 !important;
}

.form_refresh.button {
    position: absolute;
    top: 6px;
    right: 5px;
    z-index: 1002;
}

.form .ui.message {
    margin-left: 3em !important;
    margin-right: 3em !important;
}

.search.dropdown {
    display: block;
    width: 100%;
    min-width: 0;
}