/*
	Holder class to center element in the middle of the page
	This is a bad way to do it... I'll find something else later
 */
.holder {
    height: 800px
}
.holder .middle {
    height: 100%
}
/*
	JSON Highlight classes colors
*/
.json_number {
    color: RGBA(0, 200, 0, 0.8)
}
.json_key {
    color: RGBA(0, 0, 200, 0.8)
}
.json_value {
    color: RGBA(120, 140, 0, 0.8)
}
.json_bool {
    color: RGBA(200, 0, 0, 0.8)
}
.json_null {
    color: RGBA(200, 0, 200, 0.8)
}
.plotly-graph {
    width: 100%;
    height: 500px;
}

.ui.modal .grid {
    margin: 5px;
}

#left_menu {
    max-height: 30px;

}

#module_container {
    margin-top: 50px;
}

#message_container {
    position: fixed;
    top: 60px;
    opacity: 1;
    z-index: 1000;
    width: 100% !important;
}

.sorting:hover, .sorting_desc:hover, .sorting_asc:hover {
    cursor: pointer !important;
}