<div class="ui two column grid container">
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui buttons">
                <div class="ui olive button" ng-click="userService.getAllOldUsers(false)">Actualiser
                    la
                    liste
                </div>
                <div class="ui yellow button" ng-click="alert('Fonction non implémentée...')">
                    Exporter au
                    format Excel
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <hr-old-table-component></hr-old-table-component>
        </div>
    </div>
    <div class="row">
    </div>
</div>