<div class="ui two column grid container" ng-controller="grcOldClientTabController">
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui buttons">
                <div class="ui green button" ng-click="showOldClientForm()">
                    Ajouter un ancien client
                </div>
                <div class="ui olive button" ng-click="contactService.getAllOldClients(false)">
                    Actualiser la liste
                </div>
                <div class="ui yellow button" ng-click="alert('Fonction non implémentée...')">
                    Exporter au format Excel
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <grc-old-client-table-component></grc-old-client-table-component>
        </div>
    </div>
    <div class="row">
    </div>
</div>