<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="ui very basic celled table">
    <thead>
    <tr>
        <th></th>
        <th>Nom/Email</th>
        <th>Téléphone</th>
        <th>Mobile</th>
        <th>Société</th>
        <th>Rôle</th>
        <th>Assigné à</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th></th>
        <th>Nom/Email</th>
        <th>Téléphone</th>
        <th>Mobile</th>
        <th>Société</th>
        <th>Rôle</th>
        <th>Assigné à</th>
        <th></th>
    </tr>
    </tfoot>
    <tbody>
    <tr ng-repeat="client in contactService.clients">
        <td>
            <a class="ui teal icon button"
               data-tooltip="Détails de {{client.fullName}}"
               data-content="Cliquez ici pour afficher plus d'informations"
               ui-sref="grc.contactDetailsTab({id : client.id})">
                <i class="user icon"></i>
            </a>
        </td>
        <td>
            <div class="ui small header">
                <div class="content">
                    {{client.fullName}}
                    <div class="sub header">
                        <a href="mailto:{{client.email}}" target="_blank">{{client.email}}</a>
                    </div>
                </div>
            </div>
        </td>
        <td>0{{client.phone}}</td>
        <td>0{{client.cellPhone}}</td>
        <td>{{client.firm.name}}</td>
        <td>{{client.role}}</td>
        <td>{{client.prospector.fullName}}</td>
        <td>
            <div class="ui icon buttons">
                <button class="ui blue icon button" ng-if="grcService.rightLevel >= 3" data-tooltip="Modifier"
                        ng-click="showClientForm(client)">
                    <i class="write icon"></i>
                </button>
                <button class="ui yellow icon button" ng-if="grcService.rightLevel >= 3"
                        data-tooltip="Marquer comme ancien client" ng-click="toOldClient(client)">
                    <i class="student icon"></i>
                </button>
                <button class="ui red icon button"
                        ng-if="grcService.rightLevel >= 4 || client.creator.id == userService.getCurrentUser().id"
                        data-tooltip="Supprimer" ng-click="deleteClient(client.id)">
                    <i class="remove icon"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>