<div class="ui modal" id="contacted_prospect_form_modal">
    <div class="ui segment">
        <form name="contactedProspectForm" class="ui form vertical segment" ng-submit="contactedProspectForm.$valid && addContactedProspect()" novalidate>
            <div class="ui message" ng-show="contactedProspectForm.$dirty" ng-class="{'positive' : contactedProspectForm.$valid, 'negative' : contactedProspectForm.$invalid}">
                Le formulaire est {{ contactedProspectForm.$valid ? "valide" : "invalide" }}
            </div>
            <h4 class="ui dividing header">Ajout d'un prospect</h4>
            <div class="fields">
                <div class="eight wide required field">
                    <label>Prénom</label>
                    <input placeholder="Prénom..." type="text" ng-model="contactedProspect.firstName" required/>
                </div>
                <div class="eight wide required field">
                    <label>Nom</label>
                    <input placeholder="Nom..." type="text" ng-model="contactedProspect.lastName" required/>
                </div>
            </div>
            <div class="fields">
                <div class="eight wide required field">
                    <label>Civilité</label>
                    <ng-dropdown data-label="label" ng-option="genderService.genders" data-value="id" ng-model="contactedProspect.gender" required="true"></ng-dropdown>
                </div>
                <div class="eight wide field">
                    <label>Email</label>
                    <input placeholder="Email..." type="email" ng-model="contactedProspect.email"/>
                </div>
            </div>
            <div class="fields">
                <div class="eight wide field">
                    <label>Numéro de téléphone</label>
                    <input placeholder="0000000000" ng-model="contactedProspect.phone"/>
                </div>
                <div class="eight wide field">
                    <label>Numéro de téléphone mobile</label>
                    <input placeholder="0000000000" ng-model="contactedProspect.cellPhone"/>
                </div>
            </div>
            <div class="fields">
                <div class="eight wide required field">
                    <label>Société</label>
                    <ng-dropdown data-label="name" ng-option="firmService.firms" data-value="id" ng-model="contactedProspect.firm" required="true"></ng-dropdown>
                </div>
                <div class="eight wide field">
                    <label>Poste</label>
                    <input placeholder="Poste..." type="text" ng-model="contactedProspect.role"/>
                </div>
            </div>
            <div class="sixteen wide field">
                <label>Origine des coordonnées</label>
                <input placeholder="Origine..." type="text" ng-model="contactedProspect.origin"/>
            </div>
            <div class="fields">
                <div class="eight wide field">
                    <label>Prochaine prospection</label>
                    <input placeholder="JJ/MM/AAAA" type="text" ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/" ng-model="contactedProspect.nextProspecting"/>
                </div>
                <div class="eight wide field">
                    <label>Assigné à</label>
                    <ng-dropdown data-label="full_name" ng-option="userService.users" data-value="id" ng-model="contactedProspect.prospector"></ng-dropdown>
                </div>
            </div>
            <div class="sixteen wide field">
                <label>Notes</label>
                <textarea ng-model="contactedProspect.notes" placeholder="Notes..."></textarea>
            </div>
            <div class="ui small buttons">
                <input type="reset" value="Annuler" class="ui button"/>
                <div class="or" data-text="ou"></div>
                <input type="submit" value="Ajouter" class="ui green button" ng-class="{'disabled':contactedProspectForm.$invalid}"/>
            </div>
        </form>
    </div>
</div>