<table class="ui very basic celled table">
    <thead>
    <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Cotis.</th>
        <th>Fiche</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tfoot ng-if="rhService.rightLevel >= 4">
    <tr ng-if="administratorMembership">
        <td colspan="5">
            <form name="administratorMembershipForm" ng-submit="administratorMembershipForm.$valid && editmode?addMembership():updateMembership()"
                  novalidate>
                <div class="ui center aligned grid">
                    <div class="four wide column">
                        <div class="ui input">
                            <input placeholder="JJ/MM/AAAA" type="text" required
                                   ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/"
                                   name="startDate" ng-model="administratorMembership.startDate"/>
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="ui input">
                            <input placeholder="JJ/MM/AAAA" type="text" required
                                   ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/"
                                   name="endDate" ng-model="administratorMembership.endDate"/>
                        </div>
                    </div>
                    <div class="two wide column">
                        <checkbox type="toggle" ng-model="administratorMembership.feePaid"></checkbox>
                    </div>
                    <div class="two wide column">
                        <checkbox type="toggle" ng-model="administratorMembership.formFilled"></checkbox>
                    </div>
                    <div class="four wide center aligned column">
                        <div class="ui small buttons">
                            <button type="submit" value="Ajouter" class="ui green icon button" data-tooltip="Valider"
                                    ng-class="{ 'disabled': administratorMembershipForm.$invalid }">
                                <i class="checkmark icon"></i>
                            </button>
                            <div class="ui icon button" ng-click="cancelMembershipForm()" data-tooltip="Annuler">
                                <i class="remove icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </td>
    </tr>
    <tr ng-if="!administratorMembership">
        <td colspan="5">
            <div class="sixteen wide center aligned column">
                <button class="ui green button" ng-click="showMembershipForm(false, {})">
                    Ajouter une adhésion administrateur
                </button>
            </div>
        </td>
    </tr>
    </tfoot>
    <tbody>
    <tr ng-repeat="membership in administratorMembershipService.currentUserMemberships"
        ng-show="!administratorMembership || (administratorMembership.id != membership.id)"
        ng-class="{error: !membership.valid, positive: membership.valid && membership.active}">
        <td>{{membership.startDate|date:"dd/MM/y"}}</td>
        <td>{{membership.endDate|date:"dd/MM/y"}}</td>
        <td>{{membership.feePaid ? 'Oui' : 'Non'}}</td>
        <td>{{membership.formFilled ? 'Oui' : 'Non'}}</td>
        <td>
            <div class="ui icon buttons">
                <button class="ui blue icon button" data-tooltip="Modifier"
                        ng-click="showMembershipForm(true, membership)">
                    <i class="write icon"></i>
                </button>
                <button class="ui red icon button" data-tooltip="Supprimer"
                        ng-click="deleteMembership(membership)">
                    <i class="remove icon"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>