<div class="ui two column grid container">
    <div class="row"></div>
    <div class="row">
        <div class="sixteen wide column" id="page_content">
            <div class="ui top attached tabular menu" id="tabmenu">
                <a ng-class="{active: $state.current.activetab == 'stats'}" class="item" data-tab="stats" ui-sref="hr.statsTab">Statistiques</a>
                <a ng-class="{active: $state.current.activetab == 'members'}" class="item" id="memlist" data-tab="members" ui-sref="hr.membersTab">Membres actuels</a>
                <a ng-class="{active: $state.current.activetab == 'oldMembers'}" class="item" id="oldlist" data-tab="oldMembers" ui-sref="hr.oldMembersTab">Anciens membres</a>
                <a ng-class="{active: $state.current.activetab == 'disabledMembers'}" class="item" id="dislist" data-tab="disabledMembers" ui-sref="hr.disabledMembersTab" ng-if="kernelService.rightLevel >= 4">Membres désactivés</a>
                <a ng-class="{active: $state.current.activetab == 'teams'}" class="item" data-tab="teams" ui-sref="hr.teamsTab">Liste des équipes</a>
                <a ng-if="userService.selectedUser" ng-class="{active: $state.current.activetab == 'userDetails'}" class="item" id="det" data-tab="userDetails" ui-sref="hr.userDetailsTab({id:userService.selectedUser.id})">Détails de {{userService.selectedUser.fullName}}</a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="{{$state.current.activetab}}">
                <div ui-view></div>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
</div>