<table class="ui very basic celled table">
    <thead>
    <tr>
        <th>Nom complet</th>
        <th>Téléphone</th>
        <th>Adresse mail</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="!editMode">
        <td>
            <a ui-sref="rh.userDetailsTab({id : manager.manager.id})">
                {{projectService.selectedProject.auditor.fullName}}<br>
            </a>
        </td>
        <td>{{projectService.selectedProject.auditor.tel}}</td>
        <td>{{projectService.selectedProject.auditor.email}}</td>
        <td>
            <div class="ui icon buttons" ng-if="uaService.rightLevel >= 4">
                <button class="ui blue icon button" ng-click="updateAuditor()">
                    Modifier
                </button>
            </div>
        </td>
    </tr>
    <tr ng-if="uaService.rightLevel >= 4 && editMode">
        <td colspan="4">
            <form name="auditorForm" ng-submit="auditorForm.$valid && setAuditor()" novalidate>
                <div class="ui centered grid">
                    <div class="thirteen wide column">
                        <ng-dropdown data-label="fullName" ng-option="userService.users" data-value="id"
                                     ng-model="project.auditor" required="true"></ng-dropdown>
                    </div>
                    <div class="three wide column">
                        <input type="submit" value="Ajouter" class="ui green button"
                               ng-class="{ 'disabled': auditorForm.$invalid }"/>
                    </div>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>