<table class="ui very basic celled table" id="contact_table">
    <thead>
    <tr>
        <th></th>
        <th>Nom</th>
        <th>Statut</th>
    </tr>
    </thead>
    <tbody id="contact_body">
    <tr ng-repeat="contact in contacts">
        <td>
            <button ng-click="" class="ui teal icon button" data-tooltip="Détails du contact">
                <i class="user icon"></i>
            </button>
        </td>
        <td>{{contact.fullName}}</td>
        <td>{{contact.status}}</td>
    </tr>
    </tbody>
</table>