<link rel="stylesheet" href="app/components/login/login.css">

<!-- Temp -->
<div class="row">
    <div class="center aligned sixteen wide column">
        <div class="ui red message">
            <div class="content">
                <div class="header">
                    Attention !
                </div>
                <p>Vous vous trouvez sur une version de Doletic non utilisée actuellement. Pour accéder à Doletic,
                    cliquez
                    sur le lien suivant :</p>
                <a href="http://doleticdev.etic-insa.com">Doletic</a>
            </div>
        </div>
    </div>
</div>
<!-- End Temp -->
<div class="row">
    <div class="center aligned sixteen wide column">
        <div class="holder">
            <div class="ui three column centered middle aligned grid container">
                <div class="column">
                    <div class="ui attached message">
                        <div class="header">
                            Bienvenue !
                        </div>
                        <p>Veuillez vous identifier.</p>
                    </div>
                    <form ng-class="{'ui form error':loginError, 'ui form segment error':inputError}"
                          class="ui form attached fluid segment">
                        <div ng-class="{'field error':inputError}" class="required field">
                            <label>Nom d'utilisateur</label>
                            <input id="uname_input" placeholder="pnom" name="username" type="text" ng-model="username">
                            <div ng-if="" id="uname_error"
                                 class="ui basic red pointing prompt label transition visible">
                                Veuillez entrer votre nom d'utilisateur
                            </div>
                        </div>
                        <div ng-class="{'field error':inputError}" class="required field">
                            <label>Mot de passe</label>
                            <input id="pass_input" placeholder="mot de passe" name="password" type="password"
                                   ng-model="password" onKeyPress="if(event.keyCode == 13) { angular.element(this).scope().login(); }">
                            <div ng-if="inputError" id="pass_error"
                                 class="ui basic red pointing prompt label transition visible">Veuillez entrer votre mot
                                de
                                passe
                            </div>
                            <div ng-if="inputError" class="ui error message">
                                <div class="header">Connexion refusée !</div>
                                <p>Veuillez saisir vos identifiants de nouveau.</p>
                            </div>
                        </div>
                        <div class="ui green button" ng-click="login()">Connexion</div>
                        <div class="ui right floated button" ng-click="resetFields()">Effacer</div>
                    </form>
                    <!--<div class="ui bottom attached info message">
                        <a id="lostPassword" class="ui" ng-click="">Mot de passe perdu</a>
                        <i class="icon help"></i>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
