<link rel="stylesheet" href="app/layouts/footer/footer.css">
<div id="footer" ng-cloak>
    <!-- small footer -->
    <div class="container" id="small-footer" ng-if="vm.smallFooter">
        <div>
            Contactez nous par
            <span id="footer-contact-email"><i class="material-icons">email</i><a href="mailto:{{vm.contact.email}}">email</a></span>
            <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="footer-contact-email">
                {{vm.contact.email}}
            </div>
            , ou par
            <span id="footer-contact-phone"><i class="material-icons">phone</i><a>téléphone</a></span>
            <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="footer-contact-phone">
                {{vm.contact.phone}}
            </div>
            , pour plus d’informations.
        </div>
    </div>
    <!-- /small footer-->
    <!-- large footer -->
    <div class="container" id="large-footer" ng-if="!vm.smallFooter">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone">
                <div>
                    <h3>Contactez nous</h3>
                    <label>N'h&eacute;sitez pas &agrave; nous contacter pour plus d'informations !</label>
                    <div>
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone">
                            <div class="contact contact-phone">
                                <p><i class="material-icons">contact_phone</i></p>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone">
                            <div class="contact contact-mail">
                                <p><i class="material-icons">contact_mail</i> <a href="mailto:{{vm.contact.email}}">{{vm.contact.email}}</a></p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone">
                <div>
                    <form>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="name" id="name">
                            <label class="mdl-textfield__label" for="name">Nom...</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="email" id="email">
                            <label class="mdl-textfield__label" for="email">Email...</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea class="mdl-textfield__input" name="message" id="message"></textarea>
                            <label class="mdl-textfield__label" for="message">Message...</label>
                        </div>
                        <div class="submit-mail">
                            <input class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent" type="submit" value="Envoyer un message" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /large footer -->
    <!-- copy-right -->
    <div class="copyright mdl-color--primary">
        <p class="mdl-color-text--accent-contrast">
            Copyright <i class="material-icons">copyright</i>
            2016 Immotio Tous droits reservés.
        </p>
        <!--<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>-->
    </div>
    <!-- copy-right -->
</div>

<!-- tooltips -->
