<div class="ui modal" id="task_form_modal">
    <div class="ui segment">
        <form name="taskForm" class="ui form vertical segment"
              ng-submit="taskForm.$valid && editMode?editTask():addTask()"
              novalidate>
            <fix-modal-component></fix-modal-component>
            <div class="ui message" ng-show="taskForm.$dirty"
                 ng-class="{'positive' : taskForm.$valid, 'negative' : taskForm.$invalid}">
                Le formulaire est {{ taskForm.$valid ? "valide" : "invalide" }}
            </div>
            <h2 ng-if="!editMode" class="ui dividing header">Ajout d'une phase</h2>
            <h2 ng-if="editMode" class="ui dividing header">Modification d'une phase</h2>
            <div class="fields">
                <div class="eight wide required field">
                    <label>Date de début</label>
                    <input placeholder="JJ/MM/AAAA" type="text"
                           ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/"
                           ng-model="task.startDate" required/>
                </div>
                <div class="eight wide required field">
                    <label>Date de fin</label>
                    <input placeholder="JJ/MM/AAAA" type="text"
                           ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/"
                           ng-model="task.endDate" required/>
                </div>
            </div>
            <div class="sixteen wide required field">
                <label>Nom</label>
                <input placeholder="Name" type="text" ng-model="task.name" required/>
            </div>
            <div class="sixteen wide required field">
                <label>Description</label>
                <textarea ng-model="task.description" placeholder="Description..." required></textarea>
            </div>
            <div class="fields">
                <div class="eight wide required field">
                    <label>Nombre de JEH</label>
                    <input type="number" ng-model="task.jehAmount" name="jehAmount" placeholder="0" required/>
                </div>
                <div class="eight wide required field">
                    <label>Prix par JEH</label>
                    <input type="number" ng-model="task.jehCost" name="jehCost" placeholder="0" required/>
                </div>
            </div>
            <div class="ui small buttons">
                <input type="reset" value="Annuler" class="ui button"/>
                <div class="or" data-text="ou"></div>
                <input ng-if="!editMode" type="submit" value="Ajouter" class="ui green button"
                       ng-class="{ 'disabled': taskForm.$invalid }"/>
                <input ng-if="editMode" type="submit" value="Modifier" class="ui green button"
                       ng-class="{ 'disabled': taskForm.$invalid }"/>
            </div>
        </form>
    </div>
</div>