<div id="about_doletic_modal" class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">Doletic v2.0</div>
    <div class="image content">
        <div class="image"><i class="line chart icon"></i></div>
        <div class="description">
            <p>
                Doletic est un ERP open-source destiné au Junior-Entreprises.<br><br>
                Son développement est à l'initiative du pôle DSI de la Junior-Entreprise de l'INSA de Lyon,
                ETIC INSA Technologies. Il est actuellement en cours de développement.
                Si vous souhaitez contribuer à ce merveilleux projet n'hésitez pas à nous contacter !
            </p>
            <p>
                Développeurs :
            <ul class="ui list">
                <li>Paul Dautry (ETIC INSA Technologies)</li>
                <li>Nicolas Sorin (ETIC INSA Technologies)</li>
                <li>Olivier Vicente (ETIC INSA Technologies)</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="actions">
        <div class="one fluid ui inverted buttons">
            <div class="ui green basic inverted button" ng-click="hideAboutDoletic()">
                <i class="checkmark icon"></i>Cool !
            </div>
        </div>
    </div>
</div>