<div class="ui grid container">
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui buttons">
                <div id="edituser_modal_btn" class="ui green button" ng-click="">
                    Modifier l'utilisateur
                </div>
                <div id="olduser_btn" class="ui yellow button" ng-click="">
                    Marquer comme ancien membre
                </div>
                <div id="disableuser_btn" class="ui orange button" ng-click="">
                    Désactiver l'utilisateur
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="four wide column">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                        <div class="header">Nom complet</div>
                        <div class="description" id="det_name">{{user.first_name}} {{user.last_name}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">Poste actuel</div>
                        <div class="description" id="det_pos">{{user | GetUserActivePosition:"label"}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">Date de naissance</div>
                        <div class="description" id="det_birth">{{}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">Année</div>
                        <div class="description" id="det_year">{{user.school_year.year}}{{user.department.label}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">Téléphone</div>
                        <div class="description" id="det_tel">0{{user.tel}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">Email</div>
                        <div class="description" id="det_mail">{{user.email}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">Adresse</div>
                        <div class="description" id="det_add">{{user.address}}</div>
                        <div class="description" id="det_postal">{{user.postal_code}}</div>
                        <div class="description" id="det_city">{{user.city}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">Nationalité</div>
                        <div class="description" id="det_country">{{user.country.label}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">AG de recrutement</div>
                        <div class="description" id="det_ag">undefined</div>
                    </div>
                </div>
                <div class="item">
                    <div id="addadmm_modal_btn" class="ui green icon button"
                         ng-click="">Nouvelle adhésion administrateur
                    </div>
                </div>
                <div class="item">
                    <div id="addintm_modal_btn" class="ui green button"
                         ng-click="">Nouvelle adhésion consultant
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui horizontal divider">
                Adhésions administrateur
            </div>
            <div class="row" id="admm_table_container">
            </div>
            <div class="ui horizontal divider">
                Adhésions consultant
            </div>
            <div class="row" id="intm_table_container">
            </div>
            <div class="ui horizontal divider">
                Historique des postes
            </div>
            <div class="row" id="positions_history">
            </div>
        </div>
    </div>
</div>