<div class="ui two column grid container">
    <div class="row">
        <div class="nine wide center aligned column">
            <div class="ui olive button" ng-click="">Actualiser les
                indicateurs
            </div>
            <div class="row" id="graphs">
            </div>
        </div>
        <div class="seven wide column">
            <div id="tables">
            </div>
            <div class="ui horizontal divider">
                Indicateurs RH
            </div>
            <div class="row">
                <table class="ui very basic single line striped table">
                    <thead>
                    <tr>
                        <th>Indicateur</th>
                        <th>Actuel</th>
                        <th>Objectif</th>
                    </tr>
                    </thead>
                    <tbody id="indicators_body">
                    <!-- INDICATORS LIST GOES THERE -->
                    </tbody>
                </table>
            </div>
            <div class="ui horizontal divider">
                Gestion des AG de Recrutement
            </div>
            <div class="ui stackable grid container">
                <div class="row">
                    <hr-recruitment-event-table-component></hr-recruitment-event-table-component>
                </div>
            </div>
        </div>
    </div>
</div>
