<div>
    <div class="ui fixed menu">
        <a class="header item" ui-sref="dashboard">
            <img class="ui mini spaced image" style="height:15px; width:15px;" src="/resources/doletic_logo.png"/>
            Doletic v2.1
        </a>
        <a ng-if="AuthService.isLogged()" class="item module_submenu" ui-sref="dashboard">Accueil</a>
        <a ng-if="AuthService.isLogged()" class="item module_submenu" ui-sref="grc.firmTab">Gestion Relations Clients</a>
        <a ng-if="AuthService.isLogged()" class="item module_submenu" ui-sref="hr.membersTab">Ressources humaines</a>
        <a ng-if="AuthService.isLogged()" class="item module_submenu" ui-sref="support.ticketTab">Support</a>
        <a ng-if="AuthService.isLogged()" class="item module_submenu" ui-sref="tools.signatureTab">Outils</a>
        <a ng-if="AuthService.isLogged()" class="item module_submenu" ui-sref="ua.statsTab">Unité d'Affaires</a>
        <a class="right floated item" ng-click="showAbout()">
            <i class="info circle icon"></i>
        </a>
        <a ng-if="AuthService.isLogged()" class="item"
           ng-click="showSettingsModal();">
            <i class="settings icon"></i>
        </a>
        <a ng-if="AuthService.isLogged()" class="item" ng-click="showLogout();">
            <i class="power icon"></i>
        </a>
    </div>
</div>