<table class="ui very basic celled table">
    <thead>
    <tr>
        <th>Numéro</th>
        <th>Phase associée</th>
        <th>Contenu</th>
        <th>Facturé</th>
        <th>Livré</th>
        <th>Payé</th>
        <th>PVL</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="delivery in deliveryService.currentProjectDeliveries">
        <td>{{delivery.number}}</td>
        <td>{{delivery.task.number}}</td>
        <td>{{delivery.content}}</td>
        <td>{{delivery.billed ? 'Oui' : 'Non'}}</td>
        <td>
            <div class="ui olive button" ng-if="!delivery.delivered && projectService.selectedProject.userHasRights"
                 ng-click="showDeliverForm(delivery)" data-tooltip="Marquer comme livré">
                Non
            </div>
            <div class="ui orange button" ng-if="delivery.delivered && projectService.selectedProject.userHasRights"
                 ng-click="undeliverDelivery(delivery)" data-tooltip="Annuler la livraison">
                {{delivery.deliveryDate|date:"dd/MM/y"}}
            </div>
            <span ng-if="!delivery.delivered && !projectService.selectedProject.userHasRights">
                Non
            </span>
            <span ng-if="delivery.delivered && !projectService.selectedProject.userHasRights">
                {{delivery.deliveryDate|date:"dd/MM/y"}}
            </span>
        </td>
        <td>
            <div class="ui olive button" ng-if="!delivery.paid && projectService.selectedProject.userHasRights"
                 ng-click="showPayForm(delivery)" data-tooltip="Marquer comme payé">
                Non
            </div>
            <div class="ui orange button" ng-if="delivery.paid && projectService.selectedProject.userHasRights"
                 ng-click="unpayDelivery(delivery)" data-tooltip="Annuler le paiement">
                {{delivery.paymentDate|date:"dd/MM/y"}}
            </div>
            <span ng-if="!delivery.paid && !projectService.selectedProject.userHasRights">
                Non
            </span>
            <span ng-if="delivery.paid && !projectService.selectedProject.userHasRights">
                {{delivery.paymentDate|date:"dd/MM/y"}}
            </span>
        </td>
        <td>
            <div class="ui buttons">
                <div class="ui olive icon button" data-tooltip="Publiposter" ng-click="publishPVL(delivery)">
                    <i class="book icon"></i>
                </div>
                <div class="ui green icon button" data-tooltip="Uploader PDF" ng-click="uploadPVL(delivery)">
                    <i class="upload icon"></i>
                </div>
                <div class="ui blue icon button" data-tooltip="Télécharger PDF" ng-click="downloadPVL(delivery)">
                    <i class="download icon"></i>
                </div>
            </div>
        </td>
        <td>
            <div class="ui icon buttons">
                <button class="ui blue icon button" data-tooltip="Modifier" ng-click="showDeliveryForm(delivery)">
                    <i class="write icon"></i>
                </button>
                <button class="ui red icon button" data-tooltip="Supprimer" ng-click="deleteDelivery(delivery.id)">
                    <i class="remove icon"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>