<div id="confirm_modal" class="ui basic modal">
    <div id="confirm_modal_header" class="header"><!-- Confirm modal header goes here --> </div>
    <div class="image content">
        <div id="confirm_modal_icon" class="image">
            <!-- Confirm modal icon goes here -->
        </div>
        <div id="confirm_modal_description" class="description">
            <!-- Confirm modal description goes here -->
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div id="confirm_modal_no" class="ui red basic inverted button"><i class="remove icon"></i>Non</div>
            <div id="confirm_modal_yes" class="ui green basic inverted button"><i class="checkmark icon"></i>Oui</div>
        </div>
    </div>
</div>