<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="ui very basic celled table">
    <thead>
        <tr>
            <th></th>
            <th>Nom/Email</th>
            <th>Téléphone</th>
            <th>Mobile</th>
            <th>Société</th>
            <th>Rôle</th>
            <th>Assigné à</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>Nom/Email</th>
            <th>Téléphone</th>
            <th>Mobile</th>
            <th>Société</th>
            <th>Rôle</th>
            <th>Assigné à</th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="oldClient in contactService.oldClients">
            <td>
                <button class="ui teal icon button"
                        data-tooltip="Détails de {{oldClient.first_name}} {{oldClient.last_name}}"
                        data-content="Cliquez ici pour afficher plus d'informations"
                        ng-click="">
                    <i class="user icon"></i>
                </button>
            </td>
            <td>
                <div class="ui small header">
                    <div class="content">
                        {{oldClient.first_name}} {{oldClient.last_name}}
                        <div class="sub header">
                            <a href="mailto:{{oldClient.email}}" target="_blank">{{oldClient.email}}</a>
                        </div>
                    </div>
                </div>
            </td>
            <td>0{{oldClient.phone}}</td>
            <td>0{{oldClient.cell_phone}}</td>
            <td>{{oldClient.firm.name}}</td>
            <td>{{oldClient.role}}</td>
            <td>{{oldClient.prospector.first_name}} {{oldClient.prospector.last_name}}</td>
            <td>
                <div class="ui icon buttons">
                    <button class="ui blue icon button" data-tooltip="Modifier" ng-click="">
                        <i class="write icon"></i>
                    </button>
                    <button class="ui yellow icon button" data-tooltip="Marquer comme à prospecter" ng-click="">
                        <i class="call icon"></i>
                    </button>
                    <button class="ui red icon button" data-tooltip="Supprimer" ng-click="deleteOldClient(oldClient.id)">
                        <i class="remove icon"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>